//alertsettings
@alert-corner-radius: 5px;
@alert-padding: 	  8px;
@alert-boarder-width: 1px;
//------------------------------------

.gen-alert(@color:@white){

.textcolor(@color);
.vertical-gradient(lighten(@color,10%),darken(@color,2%));
border-color:darken(@color,10%) darken(@color,10%) darken(@color,20%);
.shadow(0px,0px,4px,0px, fadeout(darken(@color,50%),50%));


}



.alert{

	display:block;
	padding:@alert-padding;
	margin-bottom:@alert-padding;
	border-width: @alert-boarder-width;
	border-style: solid;
	  
	.roundcorner(@alert-corner-radius);
	
	
	
	&:before{
	
	 	font-family: 'fontello';
		font-style: normal;
		font-weight: normal;
		speak: none;
		text-align: center;
		display: inline-block;
		text-decoration: inherit;
	  	line-height: 1;
		width: 1em;
		content: "\2715";
		
		float:right;
		cursor: pointer;
	}
	
	
	
	
	
	
	
	
	
	.gen-alert();

	&.black{
		.gen-alert(@black);
	}
	
	&.red{
		.gen-alert(@red);
	}
	
	&.orange{
		.gen-alert(@orange);
	}
	
	&.yellow{
		.gen-alert(@yellow);
	}
	
	&.green{
		.gen-alert(@green);
	}
	
	&.blue{
		.gen-alert(@blue);
	}
	
	&.purple{
		.gen-alert(@purple);
	}
	
	&.pink{
		.gen-alert(@pink);
	}
	
	&.gray{
		.gen-alert(@gray);
	}
	
	&.darkblue{
		.gen-alert(@darkblue);
	}



}