
@badge-font-zize : @font-size - 3;

.setbadge(@color:@default){

	.textcolor(@color);
	background-color:@color;
	//.shadow-inset(0,0,1px,1px,darken(@color,30%));
	
}


.badge{

	display:inline-block;
	height:@line-height - 2;
	font-size: @badge-font-zize;
	padding: 0 @line-height / 2;
	.roundcorner(@line-height / 2);
	font-weight:bold;

	//colors
	.setbadge(@gray);

	&.red{
		.setbadge(@red);
	}

	&.orange{
		.setbadge(@orange);
	}

	&.yellow{
		.setbadge(@yellow);
	}
	
	&.green{
		.setbadge(@green);
	}

	&.blue{
		.setbadge(@blue);
	}
	
	&.purple{
		.setbadge(@purple);
	}



}

