
.setbadgelabel(@color){
	background-color:@color;
	.textcolor(@color);
}

.badge{
	.roundcorner(@line-height / 2);
}

.label{
	.roundcorner(2px);
}


.badge,.label{

	display:inline-block;
	height:@line-height - 1;
	font-size: 75%;
	padding: 0 @line-height / 3;
	vertical-align: 1px;

	.setbadgelabel(@gray);

	&.red{
		.setbadgelabel(@red);
	}

	&.orange{
		.setbadgelabel(@orange);
	}

	
	&.green{
		.setbadgelabel(@green);
	}

	&.blue{
		.setbadgelabel(@blue);
	}
	
	&.darkblue{
		.setbadgelabel(@darkblue);
	}
	

}

