//breadcrumbsettings
@breadcrumb-padding: 	  10px;
@breadcrumb-corner-radius: 6px;
@breadcrumb-boarder-width: 1px;
//------------------------------------


.gen-breadcrumb(@color:@white){


}


.breadcrumb{



}