@btn-border-width:1px;
@btn-corner-radius:2px;
@btn-padding-topbottom:3px;
@btn-padding-leftright:10px;
@caret-with:6px;
@caret-color:black;




.gen-btn(@color){

	&> [class^="icon-"], & > [class*=" icon-"] {
		.icocolor(@color);
	}

	.vertival-gradient(lighten(@color,10%),darken(@color,2%));
	.shadow-inset(1px,1px,1px,0,lighten(@color,10%));
	
	border-color:darken(@color,10%) darken(@color,10%) darken(@color,20%);

	.textcolor(@color);
	
	&:hover,&.hover {
		.vertival-gradient(lighten(@color,6%), lighten(@color,3%));
	
		box-shadow: 0 0px 2px rgba(0, 0, 0, 0.25);
		   
		z-index:1000;
	}	
	
	&:active , &.active{
	
		.vertival-gradient(darken(@color,10%), lighten(@color,3%));
		 border-color: darken(@color,35%) darken(@color,20%) darken(@color,10%);
		
		//todo multi shadow
		 box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFFFFF;
	
		
		outline: 0;
		z-index:999;
	}
	

	
	&[disabled] ,&.disabled {
		.vertival-gradient(@color, @color);
		.shadow-inset(0,0,0,0);
		cursor:not-allowed;
	}


}



input.btn {
  	height:@line-height + (@btn-padding-topbottom * 2) + (@btn-border-width * 2) ;
}

.btn{

	*zoom:1; //IE-fix
	font-size: @font-size;
    line-height: @line-height;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	position:relative;
	
	vertical-align:middle;
	display: inline-block;
	padding:@btn-padding-topbottom @btn-padding-leftright;
	cursor: pointer;
	
	border-width: @btn-border-width;
	border-style: solid;
	

	.roundcorner(@btn-corner-radius);
	
	&:focus,&.focus{
		outline: 0;
	}

	 &> .caret{ 	
		display:inline-block;
		
		&.left:after{
			content:'\25C2';
		}
		&.right:after{
			content:'\25B8';
		}
		&.up:after{	
			content:'\25B4';
		}
		&.down:after{
			content:'\25BE';
		}
	  }


	.gen-btn(@gray);
	
	&.black{
		.gen-btn(@black);
	}
	 
	&.red{
		.gen-btn(@red);
	}
	
	&.orange{
		.gen-btn(@orange);
	}
	
	&.yellow{
		.gen-btn(@yellow);
	}
	
	&.green{
		.gen-btn(@green);
	}
	
	&.blue{
		.gen-btn(@blue);
	}
	
	&.purple{
		.gen-btn(@purple);
	}		

	
}


// button group horizontal
.btn-group{

	font-size: 0;
	margin:10px 0 0 0;
	vertical-align:middle;
	
	&> .btn{
	  .roundcorner();
	   margin-left:@btn-border-width*-1px;
		//float:left;
		
		&:first-child{
			.roundcorner-right(@btn-corner-radius);
			margin-left:0;
		}
		
		&:last-child{
			.roundcorner-left(@btn-corner-radius);
		}
	}

}


// button group vertival
.btn-group-vertival{

	vertical-align: text-top;
	font-size: 0;
	margin:10px 0 0 0;
	display:inline-block;
	
	&> button.btn{
		width:100%;
	}
	
	&> .btn{
	    .roundcorner();
		float:none;
		display:block;
		margin-top: @btn-border-width*-1px;
		
		&:first-child{
			.roundcorner-top(@btn-corner-radius);
			margin-top: 0px;
		}
		
		&:last-child{
			.roundcorner-bottom(@btn-corner-radius);
		}
	}

}


//button bar
.btn-bar{
	font-size: 0;
	&> .btn-group {
		display:inline-block;
		margin-left:5px;
		
		&:first-child{
			margin-left:0;
		}
	}
}






