


.btn{
	*zoom:1; //IE-fix
	
	display: inline-block;
	cursor: pointer;
	padding:5px 15px;
	border:1px solid rgba(0,0,0,0.4);
	
	
	.roundcorner(5px,5px,5px,5px);
	.vertival-gradient(lighten(@buttoncolor,20%),@buttoncolor);
	
   .shadow(0,0,2px);
   
   color: darken(@ribboncolor,15%);
   .textshadow( 1px, 1px, 0px, lighten(@buttoncolor,20%); 
   text-decoration: none;

}

.btn:hover{
	.vertival-gradient(@buttoncolor,lighten(@buttoncolor,20%));

}
.btn:active{
	.vertival-gradient(@buttoncolor,lighten(@buttoncolor,20%));
	.shadow-inset(0,0,2px);
	

}

.btn.round{
	.roundcorner(20px,20px,20px,20px);
}