@btn-border-width:1px;
@btn-corner-radius:@font-size/3;

.colorize-btn(@color){
	.vertival-gradient(@color,darken(@color,10%));
	.shadow-inset(1px,1px,0,0,lighten(@color,10%));
	.textshadow( 1px, 1px, 0px, lighten(@color,10%));
	
	border-color:darken(@color,30%);
	color:darken(@color,50%);

	&:active ,&.active{
		.vertival-gradient(darken(@color,10%),@color);
		.shadow-inset(0,0,3px,2px,darken(@color,30%));
	}
	&:hover{
		.vertival-gradient(darken(@color,5%), darken(@color,15%));
	}
}


.btn{

	*zoom:1; //IE-fix
	font-size: @font-size;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding:@btn-corner-radius + 2 @font-size @btn-corner-radius @font-size;
	cursor: pointer;
	border:@btn-border-width solid darken(@buttoncolor,30%);

	.roundcorner(@btn-corner-radius,@btn-corner-radius,@btn-corner-radius,@btn-corner-radius);
	.colorize-btn(@buttoncolor);

	&.btn-info{
		.colorize-btn(@info);
	}
	
	&.btn-warning{
		.colorize-btn(@warning);
	}
	
	&.btn-error{
		.colorize-btn(@error);
	}

	&.btn-success{
		.colorize-btn(@success);
	}

}


// button group
.btn-group{

	font-size: 0;
	margin:10px 0;
	
	& > .btn{
	  .roundcorner(0px,0px,0px,0px);
	   border-right-width: 0px;
		
		&:first-child{
			.roundcorner(@btn-corner-radius,0px,0px,@btn-corner-radius);
		}
		
		&:last-child{
			.roundcorner(0px,@btn-corner-radius,@btn-corner-radius,0px);
			border-right-width:@btn-border-width;
		}
	}

}

