//calloutsettings
@callout-padding: 	  (@line-height / 2);
//------------------------------------

.gen-callout(@color:@default){
	color:@color;
	background-color:lighten(@color,32%);
	.shadow(@contentpadding,0,0,0, @color, inset);
}

.callout{

	margin:@callout-padding 0;

	& > .content{
		& >:first-child { margin-top: 0; }
	    & >:last-child { margin-bottom:0; }
		padding-left:@contentpadding * 2;
	}
	
	.gen-callout();

	&.callout-red{
		.gen-callout(@red);
	}
	
	&.callout-orange{
		.gen-callout(@orange);
	}

	&.callout-green{
		.gen-callout(@green);
	}
	
	&.callout-blue{
		.gen-callout(@blue);
	}

	&.callout-darkblue{
		.gen-callout(@darkblue);
	}



}