body{
	font-size: @font-size;
	line-height :@line-height;
	color:@text-color;
	background-color: @body-background;
}


.shadow{
	.shadow(0,0,5px);
}


[class*="span"] p{
		padding: @gutter;
}