
@dropdown-corner-radius:@corner-radius;
@dropdown-border-width:@border-width;
@dropdown-item-padding:3px;
@dropdown-arrow-width: 8px;

.gen-dropdown(@color:@default){

	background-color:@body-background;
	border-color:@color;
   .shadow(0px,0px,10px,0px, fadeout(darken(@color,50%),80%));
	

	&.dropdown-up,&.dropdown-up-left,&.dropdown-up-right{
		&:before{
			border-color: @color transparent transparent transparent;
		}
		&:after{
			border-color: @body-background transparent transparent transparent;
		}
	}
		
	&.dropdown-down,&.dropdown-down-left,&.dropdown-down-right{
		&:before{
			border-color:transparent transparent @color transparent;
		}
		&:after{
			border-color: transparent transparent @body-background transparent;
		}
	}
	
	&> li{
	

		&:hover,&:active:hover,&.active:hover,&:active,&.active{
			.vertical-gradient(@color, darken(@color,5%)) ;
			&> a ,&> span{
				.textcolor(@color);
			}
		}


		//divider
		&.divider,&.divider:active{
			border-top:@dropdown-border-width solid @color;
		}

	}
}





.dropdown{

	list-style:none;
	display:inline-block;
	position:absolute;
	margin:0;
	min-width:150px;
	padding:@dropdown-corner-radius 0;
	border-width: @dropdown-border-width;
	border-style: solid;
	
	.roundcorner(@dropdown-corner-radius);


	&.dropdown-up,&.dropdown-up-left,&.dropdown-up-right,&.dropdown-down,&.dropdown-down-left,&.dropdown-down-right{
		&:before{
			border-width: (@dropdown-arrow-width + @dropdown-border-width);
			margin-left:(@dropdown-arrow-width + @dropdown-border-width)*-1;
		}
		&:after{
			border-width: @dropdown-arrow-width;
			margin-left:@dropdown-arrow-width * -1;
		}
		&:before,&:after{
			content:'';
			height:0;
			width:0;
			position:absolute;
			border-color: transparent;
			border-style: solid; 
			
		}
	}

	&.dropdown-up,&.dropdown-down{
		&:before,&:after{
			left:50%;
		}	
		&-right{ 
			&:before,&:after{
				left:10%;
			}
		}
		&-left{ 
			&:before,&:after{
				left:90%;
			}
		}
	}


	&.dropdown-up,&.dropdown-up-left,&.dropdown-up-right{
		margin-bottom: @dropdown-arrow-width + 1;
		&:before{
			bottom: (@dropdown-arrow-width + @dropdown-border-width) * -1;
		}
		&:after{
			bottom: @dropdown-arrow-width * -1;
		}
		&:before,&:after{
			border-bottom-width:0px;
		}
	}
	
	&.dropdown-down,&.dropdown-down-left,&.dropdown-down-right{
		margin-top: @dropdown-arrow-width + 1;
		&:before{
			top: (@dropdown-arrow-width + @dropdown-border-width) * -1;
		}
		&:after{
			top: @dropdown-arrow-width * -1;
		}
		&:before,&:after{
		  border-top-width:0px;
		}
	
	
	}



	&> li{

		&> span{
			cursor:default;
		}
		
		> a ,> span{
			outline: 0;
			text-decoration:none;
			display:block;
			font-size: @font-size;
			line-height: @line-height;
			padding:@dropdown-item-padding @font-size;
			color:@text-color;
		}
		
		&.divider{
			margin:@dropdown-corner-radius 0;
		}

		&.submenu {
			&> a:after ,&> span:after  {
				font-family: 'fontello';
				font-style: normal;
				font-weight: normal;
				float: right;
				content: "\25b8";
			}
			
			&>.dropdown{
				.roundcorner();
				.roundcorner-top-right(@dropdown-corner-radius);
				.roundcorner-bottom(@dropdown-corner-radius);
				margin-top: (@dropdown-corner-radius * -1) - (@dropdown-item-padding * 2) - @line-height - @dropdown-border-width ;
				left:100%;
				display:none;
			}
		
			&:hover > .dropdown{
				display:block;
			}

		}
	
	
	}



	.gen-dropdown();

 
	&.dropdown-red{
		.gen-dropdown(@red);
	}
	
	&.dropdown-orange{
		.gen-dropdown(@orange);
	}
	
	&.dropdown-green{
		.gen-dropdown(@green);
	}
	
	&.dropdown-blue{
		.gen-dropdown(@blue);
	}
	
	&.dropdown-darkblue{
		.gen-dropdown(@darkblue);
	}
		

}


