@form-border-width:1px;
@form-corner-radius:4px;
@form-padding:8px;


label{
	text-align:right;
	font-weight:bold;
	margin:@form-padding+@form-border-width 0 @form-padding+@form-border-width 0;
}
		
		
input[type=text],textarea,input[type=password],select{

	border: @form-border-width solid @lightgray;

	background-color:@body-background;
	color:@text-color; 

	.roundcorner(@form-corner-radius);
	padding:@form-padding;
	display: inline-block;
	width: 100%;
	
//	.gen-input(@default);
//	
//
//	&.red{
//		.gen-input(@red);
//	}
//	
//	&.orange{
//		.gen-input(@orange);
//	}
//	
//	&.green{
//		.gen-input(@green);
//	}
//	
//	&.blue{
//		.gen-input(@blue);
//	}
//	
//	&.darkblue{
//		.gen-input(@darkblue);
//	}
//	
	
}
