

.container {
	@media all and (max-width: @desktop-width) {
		max-width: 100%;
	}
	@media all and (min-width: @desktop-width) {
		margin:0 auto;
		max-width: @desktop-width;
	}
}

.row{
	.clearfix();
}

	[class*="col"]{

		float: left;
		min-height: 1px;
		width:100%;
		
		.box-sizing(border-box);

		padding-left: (@grid-column-padding / 2);
		padding-right: (@grid-column-padding / 2);	
				
	}


	.type(@type) when (@type = width) {
		width:percentage(@index / @grid-columns);	
	}
	
	.type(@type) when (@type = left) {
		position:relative;
		left:percentage(@index / @grid-columns);	
	}
	
	.type(@type) when (@type = right) {
		position:relative;
		right:percentage(@index / @grid-columns);	
	}
	
	.type(@type) when (@type = margin-left) {
			margin-left:percentage(@index / @grid-columns);	
	}

    .colX (@index,@prefix:-,@min,@type) when (@index > 0) {
		.col@{prefix}@{index}{
			@media (min-width: @min) {
				.type(@type);
			}
			background-color: lighten( #666, @index*6);
		}
      .colX(@index - 1,@prefix,@min,@type);
    }
	.colX (0) {}
	

.colX (@grid-columns,-,0,width); 

.colX (@grid-columns,-sm-,@mobile-width,width); 
.colX (@grid-columns,-push-,@mobile-width,left);
.colX (@grid-columns,-pull-,@mobile-width,right);

.colX (@grid-columns,-lg-,@tablet-width,width);
.colX (@grid-columns,-offset-,@tablet-width,margin-left);
	


