//modalsettings
@modal-padding: 	  10px;
@modal-corner-radius: 6px;
@modal-backdrop-color:   @black;
@modal-boarder-width: 1px;
//------------------------------------


.gen-modal(@color:@white){
	
	background-color:@color;
	border-color:darken(@color,10%) darken(@color,10%) darken(@color,20%);
	.textcolor(@color);
	.shadow(0px,0px,4px,0px, fadeout(@color,50%));

	& > .modal-header{
		.vertical-gradient(lighten(@color,10%),darken(@color,2%));
		border-bottom:@modal-boarder-width solid darken(@color,10%);
	}

	& > .modal-footer{
		border-top:@modal-boarder-width solid darken(@color,10%);
		background-color:darken(@color,5%);
	}
}



.modal-backdrop{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:fadeout(@modal-backdrop-color,30%);
	opacity:0;
	visibility: hidden;

	z-index:1020;
	
	-webkit-transition: opacity 0.3s linear,visibility 0.3s linear;
	-moz-transition: opacity 0.3s linear,visibility 0.3s linear;
	-ms-transition: opacity 0.3s linear,visibility 0.3s linear;
	-o-transition: opacity 0.3s linear,visibility 0.3s linear;
	transition: opacity 0.3s linear,visibility 0.3s linear;
	
	&.in{
	  opacity:1;
	  visibility: visible;
	}

}

.modal{
	position:fixed;
	top:50%;
	left:50%;
	width:560px;
	margin: -250px 0 0 -280px;
	height:auto;
	opacity:0;
	z-index:1050;
	
	visibility: hidden;
		
	border-width: @modal-boarder-width;
	border-style: solid;	
	
	.roundcorner(@modal-corner-radius);

	-webkit-transition: opacity 0.3s linear,visibility 0.3s linear;
	-moz-transition: opacity 0.3s linear,visibility 0.3s linear;
	-ms-transition: opacity 0.3s linear,visibility 0.3s linear;
	-o-transition: opacity 0.3s linear,visibility 0.3s linear;
	transition: opacity 0.3s linear,visibility 0.3s linear;

	&.slide-top{
		margin: -1250px 0 0 -280px;
	}
	&.slide-bottom{
	  	margin: 1250px 0 0 -280px;
	}
	&.slide-left{
		margin: -250px 0 0 -1280px;
	}
	&.slide-right{
		margin: -250px 0 0 1280px;
	}
	
	&.slide-left,&.slide-right,&.slide-top , &.slide-bottom{
		-webkit-transition:  margin 0.3s linear,opacity 0.3s linear,visibility 0.3s linear;
		-moz-transition:  margin 0.3s linear,opacity 0.3s linear,visibility 0.3s linear;
		-ms-transition:  margin 0.3s linear,opacity 0.3s linear,visibility 0.3s linear;
		-o-transition:  margin 0.3s linear,opacity 0.3s linear,visibility 0.3s linear;
		transition: margin 0.3s linear,opacity 0.3s linear,visibility 0.3s linear;
	}
	
	&.in{
	  opacity:1;
	  visibility: visible;
	  &.slide-top,&.slide-bottom,&.slide-left,&.slide-right{
	  	margin: -250px 0 0 -280px;
	  }
	}


	& > .modal-header{
		display: block;
		font-weight: bold;
		padding:		@modal-padding;
		.roundcorner-top(@modal-corner-radius);
		
		& > h1,& > h2 ,& > h3,& > h4,& > h5,& > h6{
			margin:0;
			padding:0;
		}
		
	}
	
	& > .modal-content{
		padding: 0 @modal-padding;
		max-height: 400px;
    	overflow-y: auto;
	}

	& > .modal-footer{
		display: block;
		padding:	@modal-padding;
		.roundcorner-bottom(@modal-corner-radius);

		bottom:0;
		
		& > .btn-group ,& > .btn{
			margin:0;
		}
		
	}

	.clearfix();


	.gen-modal();
	&.black{
		.gen-modal(@black);
	}
	
	&.red{
		.gen-modal(@red);
	}
	
	&.orange{
		.gen-modal(@orange);
	}
	
	&.yellow{
		.gen-modal(@yellow);
	}
	
	&.green{
		.gen-modal(@green);
	}
	
	&.blue{
		.gen-modal(@blue);
	}
	
	&.purple{
		.gen-modal(@purple);
	}
	
	&.pink{
		.gen-modal(@pink);
	}
	
	&.gray{
		.gen-modal(@gray);
	}
	

}