//modalsettings
@modal-backdrop-color:   @black;
//------------------------------------


.gen-modal-dialog(@color:@default){

	border-color:@color;
	
	.shadow(0px,0px,10px,0px, fade(darken(@color,50%),20%));

	& > .modal-header{
		.vertical-gradient(@color, darken(@color,5%)) ;
		.textcolor(@color);
	}

	& > .modal-footer{
		border-top-color:lighten(@color,16%);
		color:@color;
		background-color:lighten(@color,32%);
	}
}



.modal{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:fade(@modal-backdrop-color,70%);
	display:none;
	overflow-x: hidden;
	overflow-y: auto;
	z-index:1020;
	padding:50px 0 0 0;
	
	@media (max-width: @tablet-width) {
		padding:@contentpadding;
	}
	
	
	&.in{
		display:block;
	}

}

.modal-dialog{
	position:relative;
	z-index:1050;
	padding:@contentpadding;
	margin-bottom:@contentpadding;
	margin-left: -280px;
	width:560px;
	left:50%;
	
	border-width: @border-width;
	border-style: solid;
	background-color:@body-background;
		
	.roundcorner(@corner-radius);	
	 
	@media (max-width: @tablet-width) {
		width:100%;
		left:0;
		margin-left:0;
	}

	
	& > .modal-header{
		display: block;
		font-weight: bold;
		padding: @contentpadding;
		margin:@contentpadding * -1;
		margin-bottom:0;
		.roundcorner-top(@corner-radius - 1);
		& > *{
			margin:0;
		}
	}
	

	& > .modal-footer{
		display: block;
		bottom:0;
		padding: @contentpadding;
		margin:@contentpadding * -1;
		margin-top:0;
		border-top-width: @border-width;
	    border-top-style: solid;
		.roundcorner-bottom(@corner-radius - 1);	
		& > *{
			margin:0;
		}
	}



	.gen-modal-dialog();
	
	&.modal-gray{
		.gen-modal-dialog(@gray);
	}
		
	&.modal-black{
		.gen-modal-dialog(@black);
	}
	
	&.modal-red{
		.gen-modal-dialog(@red);
	}
	
	&.modal-orange{
		.gen-modal-dialog(@orange);
	}
	
	&.modal-green{
		.gen-modal-dialog(@green);
	}
	
	&.modal-blue{
		.gen-modal-dialog(@blue);
	}

	&.modal-darkblue{
		.gen-modal-dialog(@darkblue);
	}

}








