@tabs-padding:8px 10px;



.nav-tabs{
	
	border-bottom:@border-width solid @lightgray;	
	padding-left: 0;
	list-style:none;
	display:block;
	
	&>li{

		display:inline-block;
		margin-bottom: @border-width * -1;
		margin-right: @contentpadding / 2;
		.roundcorner-top(@corner-radius);

		&:hover{
			background-color:@default;
			&>a{
				.textcolor(@default);
			}
		}	

		&>a{
			padding:@tabs-padding;
			display:block;
			text-decoration: none;
			outline:none;
		}
		
		&.active{
			border-width: @border-width @border-width 0 @border-width;
		    border-style:solid;
			border-color:@lightgray;
			background-color:@body-background;
			&>a{
				.textcolor(@body-background);
			}
		}
		
	}

	&.nav-tabs-justified{
		display:block;
		table-layout:fixed;
		border-bottom-width:0px;
		overflow-x:auto;
			& > li{
				display:table-cell;
				float:none;
				width: 1%;
				& > a {
					border-bottom:@border-width solid @lightgray;
					text-align: center;
					vertical-align:middle;
				}				
				&.active{
					& > a {
						border-bottom-width:0px;
					}
				}

			}
		}

}