
.nav-tabs{
	padding-left: 0;
	list-style:none;
	display:block;	
	border-bottom-width:@border-width;
	border-bottom-style:solid;
	.bordercolor(@default,bottom);	
	
	&>li{

		display:inline-block;
		margin-bottom: @border-width * -1;
		.roundcorner-top(@corner-radius);
		

		&:hover{
			.backgroundcolor(@default);
			&>a{
				.textcolor(@default);
			}
		}	

		&>a{
			

			padding:@padding-vertical @padding-horizontal;
			display:block;
			text-decoration: none;
			outline:none;
			.textcolor(@body-background);
		}
		
		&.active{
			border-width: @border-width @border-width 0 @border-width;
		    border-style: solid;
			.bordercolor(@default,-);	
			
			background-color: @body-background;
			&>a{
				.textcolor(@body-background);
			}
		}
		
	}

	&.nav-tabs-justified{
		display:block;
		table-layout:fixed;
		border-bottom-width:0px;
		overflow-x:auto;
			& > li{
				display:table-cell;
				float:none;
				width: 1%;
				& > a {
					white-space:nowrap;
					border-bottom-width:@border-width;
					border-bottom-style:solid;
					.bordercolor(@default,bottom);	
					text-align: center;
					vertical-align:middle;
				}				
				&.active{
					& > a {
						border-bottom-width:0px;
					}
				}

			}
		}
		
	//tabs bottom
	&.nav-tabs-bottom{
		border-bottom-width: 0;
		border-top-width:@border-width;
		border-top-style:solid;
		.bordercolor(@default,top);	
		
		&>li{
			margin-bottom:0;
			margin-top: @border-width * -1;
			.roundcorner();
			.roundcorner-bottom(@corner-radius);
		
			&.active{
				border-width: 0 @border-width @border-width @border-width;
			}
		}
		
		&.nav-tabs-justified{
			border-width:0px;
			& > li{
					& > a {
						border-top-width:@border-width;
						border-top-style:solid;
						.bordercolor(@default,top);	
						border-bottom-width:0px;
					}				
					&.active{
						& > a {
							border-top-width:0px;
						}
					}
	
			}
		
		}
	}	
}




