//panelsettings

.gen-panel(@color:@default){
	border-color:@color;
	& > .panel-header{
		background-color:@color;
		.textcolor(@color);
	}
	& > .panel-footer{
		border-top-color:@color;
		color:@color;
		background-color:lighten(@color,30%);
	}
}




.panel{

	border-width: @border-width;
	border-style: solid;
	margin-bottom:@grid-column-padding / 2;
	padding:@contentpadding;
	.roundcorner(@corner-radius);
	background-color:@body-background;
	
	& > .panel-header{
		display: block;
		font-weight: bold;
		padding:@contentpadding;
		margin:@contentpadding * -1;
		margin-bottom:@contentpadding;
		.roundcorner-top(@corner-radius - 1);
		& > *{
			margin:0;
		}
	}
	

	& > .panel-footer{
		display: block;
		bottom:0;
		padding:@contentpadding;
		margin:@contentpadding * -1;
		margin-top:@contentpadding;
		border-top-width: @border-width;
	    border-top-style: solid;
		.roundcorner-bottom(@corner-radius - 1);
		& > *{
			margin:0;
		}
	}



	.gen-panel();
	
	&.panel-gray{
		.gen-panel(@gray);
	}
		
	&.panel-black{
		.gen-panel(@black);
	}
	
	&.panel-red{
		.gen-panel(@red);
	}
	
	&.panel-orange{
		.gen-panel(@orange);
	}
	
	&.panel-green{
		.gen-panel(@green);
	}
	
	&.panel-blue{
		.gen-panel(@blue);
	}

	&.panel-darkblue{
		.gen-panel(@darkblue);
	}

}








