//popoversettings
@popover-padding: 	  8px;
@popover-arrow-width:   8px;
@popover-corner-radius: @corner-radius;
@popover-border-width: @border-width;
//------------------------------------

.gen-popover(@color:@default){

	border-color:@color;
	background-color: lighten(@color,32%);
	color:@color;
	.shadow(0px,0px,4px,0px, fadeout(darken(@color,50%),50%));
	
	&>.popover-title{
	 	.vertical-gradient(@color, darken(@color,5%)) ;
		color:#FFF;
		border-bottom:@popover-border-width solid @color;
	}
	
	&.top:before{
		border-color: @color transparent transparent transparent;
	}
	
	&.top:after{
		border-color: lighten(@color,32%) transparent transparent transparent;
	}
	&.bottom:before{
		border-color:transparent transparent @color transparent;
	}
	
	&.bottom:after{
		border-color: transparent transparent @color transparent;
	}
	
	&.left:before{
		border-color: transparent transparent transparent @color;
	}
	
	&.left:after{
		border-color: transparent transparent transparent lighten(@color,32%) ;
	}
	
	&.right:before{
		border-color: transparent @color transparent transparent;
	}
	
	&.right:after{
		border-color:transparent  lighten(@color,32%) transparent transparent;
	}
}


.popover{

	  z-index:2000;
	  position:	absolute;
	  font-size:@font-size;
	  border-width: @popover-border-width;
	  border-style: solid;
	  max-width: @mobile-width;
	  
	  -webkit-bg-clip: padding-box;
      -moz-bg-clip: padding;
  	  background-clip: padding-box;
	  
	 .roundcorner(@popover-corner-radius);
	  
	 &>.popover-title{
		display: block;
		font-weight: bold;
		padding:		@popover-padding;
		.roundcorner-top(@popover-corner-radius - 1);
		.clearfix();
	 }
	 
	 &>.popover-content{
		padding:		@popover-padding;
		margin-bottom:@popover-corner-radius;
		.roundcorner-bottom(@popover-corner-radius - 1);
		max-height: 200px;
		overflow:auto;
		
	 }
	 
	 &:before,&:after{
		  content:'';
		  height:0;
		  width:0;
		  position:absolute;
		  border-color: transparent;
		  border-style: solid;  
	 }

	 &.bottom{
		margin-top: @popover-arrow-width;
	 }
	 &.top{
		margin-bottom: @popover-arrow-width;
	 }
	 &.left{
		margin-right: @popover-arrow-width;
		min-height: (@line-height * 2) + (@popover-padding * 4) + (@popover-arrow-width * 2) + (@popover-border-width * 2);
	 }
	 &.right{
		margin-left: @popover-arrow-width;
		min-height: (@line-height * 2) + (@popover-padding * 4) + (@popover-arrow-width * 2) + (@popover-border-width * 2);
	 }

	 &:before{
		 border-width: (@popover-arrow-width + @popover-border-width);
	 }
	 
	 &:after{
	 	border-width: @popover-arrow-width;
	 }

	&.top:before,&.top:after,&.bottom:before,&.bottom:after{
		left:50%;
	}
	
    &.top:before,&.bottom:before{
		margin-left:(@popover-arrow-width + @popover-border-width)*-1;
	}
	
	&.top:after,&.bottom:after{
		margin-left:@popover-arrow-width*-1;
	}
	
	&.top:before{
		bottom: (@popover-arrow-width + @popover-border-width)*-1;
		border-bottom-width:0px;
	}
	
	&.top:after{
		bottom: @popover-arrow-width*-1;
		border-bottom-width:0px;
	}
	
	&.bottom:before{
		top: (@popover-arrow-width + @popover-border-width)*-1;
		border-top-width:0px;
	}
	
	&.bottom:after{
		top: @popover-arrow-width*-1;
		border-top-width:0px;
	}

	&.left:before,&.left:after,&.right:before,&.right:after{
		top:50%;
	}
	
	&.left:before,&.right:before{
		margin-top:(@popover-arrow-width + @popover-border-width)*-1;
	}
	
	&.left:after,&.right:after{
		margin-top:@popover-arrow-width*-1;
	}
	
	&.left:before{
		right: (@popover-arrow-width + @popover-border-width)*-1;
		border-right-width:0px;
	}
	
	&.left:after{
		right: @popover-arrow-width*-1;
		border-right-width:0px;
	}
	
	&.right:before{
		left: (@popover-arrow-width + @popover-border-width)*-1;
		border-left-width:0px;
	}
	
	&.right:after{
		left: @popover-arrow-width*-1;
		border-left-width:0px;
	}


	.gen-popover();

	&.popover-red{
		.gen-popover(@red);
	}
	
	&.popover-orange{
		.gen-popover(@orange);
	}
	
	&.popover-green{
		.gen-popover(@green);
	}
	
	&.popover-blue{
		.gen-popover(@blue);
	}
	
	&.popover-darkblue{
		.gen-popover(@darkblue);
	}
	
	
	
}


