//popoversettings

//------------------------------------

.gen-popover(@color:@default){

	border-color:@color;
	.shadow(0px,0px,10px,0px, fadeout(darken(@color,50%),80%));
	
	
	&>.popover-title{
	 	.vertical-gradient(@color, darken(@color,5%)) ;
		color:#FFF;
		border-bottom:@border-width solid @color;
	}
	
	&.top:before{
		border-color: @color transparent transparent transparent;
	}
	
	&.bottom:before{
		border-color:transparent transparent @color transparent;
	}
	
	&.bottom:after{
		border-color: transparent transparent @color transparent;
	}
	
	&.left:before{
		border-color: transparent transparent transparent @color;
	}

	&.right:before{
		border-color: transparent @color transparent transparent;
	}
	

}


.popover{

	  z-index:2000;
	  position:	absolute;
	  font-size:@font-size;
	  border-width: @border-width;
	  border-style: solid;
	  max-width: @mobile-width;
	  padding:@contentpadding;
	  
	background-color: @body-background;
	  
	 .roundcorner(@corner-radius);
	  
	 &>.popover-title{
		display: block;
		font-weight: bold;
		margin:@contentpadding * -1;
		margin-bottom:@contentpadding;
		padding:@contentpadding;
		.roundcorner-top(@corner-radius - 1);
		.clearfix();
	 }
	 
	 &>.content{
		margin-bottom:@corner-radius;
		max-height: 200px;
		overflow:auto;
	 }
	 
	 &:before,&:after{
		  content:'';
		  height:0;
		  width:0;
		  position:absolute;
		  border-color: transparent;
		  border-style: solid;  
	 }

	 &.bottom{
		margin-top: @contentpadding;
	 }
	 &.top{
		margin-bottom: @contentpadding;
	 }
	 &.left{
		margin-right: @contentpadding;
		min-height: (@line-height * 2) + (@contentpadding * 6) + (@border-width * 2);
	 }
	 &.right{
		margin-left: @contentpadding;
		min-height: (@line-height * 2) + (@contentpadding * 6) + (@border-width * 2);
	 }

	 &:before{
		 border-width: (@contentpadding + @border-width);
	 }
	 
	 &:after{
	 	border-width: @contentpadding;
	 }

	&.top:before,&.top:after,&.bottom:before,&.bottom:after{
		left:50%;
	}
	
    &.top:before,&.bottom:before{
		margin-left:(@contentpadding + @border-width)*-1;
	}
	
	&.top:after,&.bottom:after{
		margin-left:@contentpadding * -1;
	}
	
	&.top:before{
		bottom: (@contentpadding + @border-width)*-1;
		border-bottom-width:0px;
	}
	
	&.top:after{
		bottom: @contentpadding * -1;
		border-bottom-width:0px;
		border-color: @body-background transparent transparent transparent;
	}
	
	&.bottom:before{
		top: (@contentpadding + @border-width)*-1;
		border-top-width:0px;
	}
	
	&.bottom:after{
		top: @contentpadding * -1;
		border-top-width:0px;
	}

	&.left:before,&.left:after,&.right:before,&.right:after{
		top:50%;
	}
	
	&.left:before,&.right:before{
		margin-top:(@contentpadding + @border-width)*-1;
	}
	
	&.left:after,&.right:after{
		margin-top:@contentpadding * -1;
	}
	
	&.left:before{
		right: (@contentpadding + @border-width)*-1;
		border-right-width:0px;
	}
	
	&.left:after{
		right: @contentpadding * -1;
		border-right-width:0px;
		border-color: transparent transparent transparent @body-background;
	}
	
	&.right:before{
		left: (@contentpadding + @border-width)*-1;
		border-left-width:0px;
	}
	
	&.right:after{
		left: @contentpadding * -1;
		border-left-width:0px;
		border-color:transparent @body-background transparent transparent;
	}


	.gen-popover();

	&.popover-red{
		.gen-popover(@red);
	}
	
	&.popover-orange{
		.gen-popover(@orange);
	}
	
	&.popover-green{
		.gen-popover(@green);
	}
	
	&.popover-blue{
		.gen-popover(@blue);
	}
	
	&.popover-darkblue{
		.gen-popover(@darkblue);
	}
	
	
	
}


