@progress-height: @line-height - (@border-width * 2);
@progress-border-width:@border-width;
@progress-corner-radius:@corner-radius;

.gen-progress(@color:@default){

	background: @body-background;
	border-color: @color;
	.shadow(0px,3px,@btn-padding-topbottom/2,0px, fadeout(@color,50%) ,inset);
	
	&> .bar{

		border-right:@progress-border-width solid @color;;
		
		@startcolor : @color;
		@stopcolor	: lighten(@color,32%);
	
background: @startcolor;
background: -moz-linear-gradient(45deg,  @startcolor 25%, @stopcolor 25%, @stopcolor 50%, @stopcolor 50%, @startcolor 50%, @startcolor 75%, @stopcolor 75%, @stopcolor 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(25%,@startcolor), color-stop(25%,@stopcolor), color-stop(50%,@stopcolor), color-stop(50%,@stopcolor), color-stop(50%,@startcolor), color-stop(75%,@startcolor), color-stop(75%,@stopcolor), color-stop(100%,@stopcolor));
background: -webkit-linear-gradient(45deg,  @startcolor 25%,@stopcolor 25%,@stopcolor 50%,@stopcolor 50%,@startcolor 50%,@startcolor 75%,@stopcolor 75%,@stopcolor 100%);
background: -o-linear-gradient(45deg,  @startcolor 25%,@stopcolor 25%,@stopcolor 50%,@stopcolor 50%,@startcolor 50%,@startcolor 75%,@stopcolor 75%,@stopcolor 100%);
background: -ms-linear-gradient(45deg,  @startcolor 25%,@stopcolor 25%,@stopcolor 50%,@stopcolor 50%,@startcolor 50%,@startcolor 75%,@stopcolor 75%,@stopcolor 100%);
background: linear-gradient(45deg,  @startcolor 25%,@stopcolor 25%,@stopcolor 50%,@stopcolor 50%,@startcolor 50%,@startcolor 75%,@stopcolor 75%,@stopcolor 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{startcolor}', endColorstr='@{stopcolor}',GradientType=1 );

		background-size:  @progress-height*2 @progress-height*2;

	}
	
}
	
.progress{

		margin:( @line-height - @progress-height - 2 ) / 2  0;
	
		display:block;
		height:@progress-height;
		.roundcorner(@progress-corner-radius);
		overflow: hidden;
		
		border-width: @progress-border-width;
		border-style: solid;
		
	   -webkit-bg-clip: padding-box;
     	-moz-bg-clip: padding;
  		background-clip: padding-box;

		&> .bar{
			display:block;
			float:left;
			height:@progress-height;
		
			//.roundcorner-left(@progress-height - 1) ;
			
		   background-position: 0 0;
		  -webkit-animation: progress-bar 3s linear infinite;
			 -moz-animation: progress-bar 3s linear infinite;
			  -ms-animation: progress-bar 3s linear infinite;
			   -o-animation: progress-bar 3s linear infinite;
				  animation: progress-bar 3s linear infinite;
		}

		.gen-progress();

		&.progress-red{
			.gen-progress(@red);
		}
		&.progress-orange{
			.gen-progress(@orange);
		}
		&.progress-green{
			.gen-progress(@green);
		}
		&.progress-blue{
			.gen-progress(@blue);
		}
		&.progress-darkblue{
			.gen-progress(@darkblue);
		}

}	



@-moz-keyframes progress-bar {
  from {
    background-position: (@progress-height * -2) 0;
  }
  to {
    background-position: 0 0;
  }
}
@-webkit-keyframes progress-bar {
	 from {
    background-position: (@progress-height * -2) 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar {
  from {
    background-position: (@progress-height * -2) 0;
  }
  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
 	 background-position: (@progress-height * -2) 0;
  }
  to {
    background-position:  0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: (@progress-height * -2) 0;
  }
  to {
    background-position:  0 0;
  }
}
