
@rating-size: @font-size + 5;

.gen-rating(@color:@gray){
		.textcolor(@color);
}
.rating {

 	 unicode-bidi: bidi-override;
	 direction: rtl;
	 
	 margin: 0;
	 padding:0;
	 text-align:right;
	 list-style:none;
	 .clearfix();

	& > .star{
	
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
	    line-height: 1;
		display: inline-block;
		text-decoration: inherit;
		font-size: @rating-size;
		float:right;

		&:before {
		  content: "\2606";
		}	 	
		
		&:hover, &:hover ~ & {
		  color: transparent;
		  cursor: pointer;

		}

		&:hover:before,
		&:hover ~ .star:before {
		  
		  content: "\2605";
		   left: 0;
		   color: @yellow;
		}
		
	}  
	
	.gen-rating(@white);

	&.black{
		.gen-rating(@black);
	}
	 
	&.red{
		.gen-rating(@red);
	}
	
	&.orange{
		.gen-rating(@orange);
	}
	
	&.yellow{
		.gen-rating(@yellow);
	}
	
	&.green{
		.gen-rating(@green);
	}
	
	&.blue{
		.gen-rating(@blue);
	}
	
	&.purple{
		.gen-rating(@purple);
	}		
	&.gray{
		.gen-rating(@gray);
	}
	&.pink{
		.gen-rating(@pink);
	}		
	
	
}
		


