@ribbon-size : 10px;
@ribbon-padding : 8px;
@ribbon-boarder-width : 1px;
@ribbon-corner-radius: 5px;

.gen-ribbon(@color:@white){

	
	.vertical-gradient(lighten(@color,10%),darken(@color,2%));
	.textcolor(@color);
	border-color:darken(@color,10%) darken(@color,10%) darken(@color,20%);
	.shadow(0px,2px,4px,0px, fadeout(darken(@color,10%),50%));

	&.full{
		&:before,&:after {
			border-top-color:darken(@color,20%);
		}
	}
	&.left,&.right{
		&:before {
			border-top-color:darken(@color,20%);
		}
	}

	&.lefttop:before{
		border-left-color:darken(@color,10%);
	}
	
	&.righttop:before{
		border-right-color:darken(@color,10%);
	}
}


.ribbon{

	position: relative;
	padding:@ribbon-padding;
	border-width: @ribbon-boarder-width;
	border-style: solid;
	
	&.full{
		display:block;
		margin:@ribbon-size -(@ribbon-size + @ribbon-boarder-width) 0 -(@ribbon-size + @ribbon-boarder-width);
		.roundcorner-top(@ribbon-corner-radius);
	
		&:before,&:after {
				content: '';
				position: absolute;
				width:0;
				height:0;
				border-width: @ribbon-size;
				border-style: solid;
				border-color: transparent;
				z-index: -1;
			} 
		&:before {
				left: 0;
				bottom: -(@ribbon-size * 2 + @ribbon-boarder-width);
				border-right-width: 0;
			}
		&:after {
				right: 0;
				bottom: -(@ribbon-size * 2 + @ribbon-boarder-width);
				border-left-width: 0;
			}
	}

	&.left,&.lefttop,&.right,&.righttop{
		&:before{
			content: '';
			position: absolute;
			width:0;
			height:0;
			border-width: @ribbon-size;
			border-style: solid;
			border-color: transparent;
			z-index: -1;
		}
	}

	&.left,&.lefttop{
		float:left;
		clear:left;
		.roundcorner-top-left(@ribbon-corner-radius);
	}
	
	&.right,&.righttop{
		float:right;
		clear:right;
		.roundcorner-top-right(@ribbon-corner-radius);
	}
	
	&.right,&.left{
		margin-top: @ribbon-size ;
	}
	
	&.righttop,&.lefttop{
		margin: 0 @ribbon-size 0 @ribbon-size;
	}
	
	&.righttop{
		top: -( @ribbon-size + @ribbon-boarder-width );
    	.roundcorner-bottom(@ribbon-corner-radius);
		&:before{
			top: 0;
			left: -(@ribbon-size * 2 + @ribbon-boarder-width);
		 	border-bottom-width: 0;
		}
	}	

	&.right{
		left: @ribbon-size + @ribbon-boarder-width;
    	.roundcorner-left(@ribbon-corner-radius);
		&:before{
			right: 0;
			bottom: -(@ribbon-size * 2 + @ribbon-boarder-width);
			border-left-width: 0;
		}
	}

	&.lefttop{
		top: -(@ribbon-size + @ribbon-boarder-width);
    	.roundcorner-bottom(@ribbon-corner-radius);
		&:before{
				top: 0;
				right:-(@ribbon-size * 2 + @ribbon-boarder-width); 
				border-bottom-width: 0;
		}
	}
	
	&.left{
		right: @ribbon-size + @ribbon-boarder-width;
    	.roundcorner-right(@ribbon-corner-radius);
		&:before{
				left: 0;
				bottom: -(@ribbon-size * 2 + @ribbon-boarder-width);
				border-right-width: 0;
		}
	}
	
	.gen-ribbon();
	
	&.black{
		.gen-ribbon(@black);
	}
	 
	&.red{
		.gen-ribbon(@red);
	}
	
	&.orange{
		.gen-ribbon(@orange);
	}
	
	&.green{
		.gen-ribbon(@green);
	}
	
	&.blue{
		.gen-ribbon(@blue);
	}
			
	&.gray{
		.gen-ribbon(@gray);
	}
		
	&.darkblue{
		.gen-ribbon(@darkblue);
	}
}

