

.gen-ribbon(@color:@default){

	.vertical-gradient(@color, darken(@color,5%)) ;
	.textcolor(@color);
	.shadow(0,0,5px,0px, fade(darken(@color,50%),50%));

	&.ribbon-full{
		&:before,&:after {
			border-top-color:darken(@color,32%);
			
		}
	}
	
	&.ribbon-left,&.ribbon-right{
		&:before {
			border-top-color:darken(@color,32%);
		}
	}

	&.ribbon-top-left:before{
		border-left-color:darken(@color,32%);
	}
	
	&.ribbon-top-right:before{
		border-right-color:darken(@color,32%);
	}
}


.ribbon{

	position: relative;
	padding:@contentpadding;
	z-index:1;
	display:block;
	
	&.ribbon-full{
		margin:@contentpadding ((@contentpadding * 2 + @border-width) * -1) 0 ((@contentpadding * 2 + @border-width) * -1);
		.roundcorner-top(@corner-radius);
		
		&:before,&:after {
				content: ' ';
				position: absolute;
				width:0;
				height:0;
				border-width: @contentpadding;
				border-style: solid;
				border-color: transparent;
				z-index: -100;
			} 
		&:before {
				left: 0;
				bottom: (@contentpadding * 2 ) * -1;
				border-right-width: 0;
			}
		&:after {
				right: 0;
				bottom: (@contentpadding * 2 ) * -1;
				border-left-width: 0;
			}
	}

	&.ribbon-left,&.ribbon-top-left,&.ribbon-right,&.ribbon-top-right{
		&:before{
			content: ' ';
			position: absolute;
			width:0;
			height:0;
			border-width: @contentpadding;
			border-style: solid;
			border-color: transparent;
			z-index: -1;
		}
	}

	&.ribbon-left,&.ribbon-top-left{
		float:left;
		clear:left;
		left:0;
		.roundcorner-top-left(@corner-radius);
	}
	
	&.ribbon-right,&.ribbon-top-right{
		float:right;
		clear:right;
		right:0;
		.roundcorner-top-right(@corner-radius);
	}
	
	&.ribbon-right,&.ribbon-left{
		margin-top: @contentpadding ;
	}
	
	&.ribbon-top-right,&.ribbon-top-left{
		margin: 0 @contentpadding 0 @contentpadding;
	}
	
	&.ribbon-top-right{
		margin-top: -(@contentpadding * 2 + @border-width);
    	.roundcorner-bottom(@corner-radius);
		&:before{
			top: 0;
			left: -(@contentpadding * 2 );
		 	border-bottom-width: 0;
		}
	}	

	&.ribbon-right{
		margin-right: (@contentpadding * 2 + @border-width) * -1;
		margin-left:@contentpadding;
    	.roundcorner-left(@corner-radius);
		&:before{
			right: 0;
			bottom: (@contentpadding * 2) * -1;
			border-left-width: 0;
		}
	}

	&.ribbon-top-left{
		margin-top: -(@contentpadding * 2 + @border-width);
    	.roundcorner-bottom(@corner-radius);
		&:before{
				top: 0;
				right:(@contentpadding * 2) * -1; 
				border-bottom-width: 0;
		}
	}
	
	&.ribbon-left{
		margin-left: (@contentpadding * 2 + @border-width) * -1 ;
		margin-right:@contentpadding;
    	.roundcorner-right(@corner-radius);
		&:before{
				left: 0;
				bottom: (@contentpadding * 2) * -1;
				border-right-width: 0;
		}
	}
	
	.gen-ribbon();
	
	&.ribbon-red{
		.gen-ribbon(@red);
	}
	
	&.ribbon-orange{
		.gen-ribbon(@orange);
	}
	
	&.ribbon-green{
		.gen-ribbon(@green);
	}
	
	&.ribbon-blue{
		.gen-ribbon(@blue);
	}

	&.ribbon-darkblue{
		.gen-ribbon(@darkblue);
	}
	
	
	//overlay
	&.ribbon-over{
		position:absolute;
		margin:0;
		//float:none;
		
		&.ribbon-full,&.ribbon-right,&.ribbon-left{
			top:@contentpadding * 2 - @border-width;
		}
		
		&.ribbon-top-left,&.ribbon-top-right{
			top: @contentpadding * -1 - @border-width;
		}
		
		&.ribbon-full,&.ribbon-left{
			left: @contentpadding * -1 - @border-width;
		}
		
		&.ribbon-full,&.ribbon-right{
 			right: @contentpadding * -1 - @border-width;
	    }

		&.ribbon-top-left{
			left: @contentpadding * 2 - @border-width;
		}
		
		&.ribbon-top-right{
			right: @contentpadding * 2 - @border-width;
		}
		
		
	}
		
	
	
	
	
	
}

