

@ribbon-size : 10px;
@ribbon-padding : 8px;
@ribbon-boarder-width : 1px;
@ribbon-corner-radius: 5px;

.ribboncolor(@color:@white){

	.vertical-gradient(lighten(@color,10%),darken(@color,2%));
	.textcolor(@color);
	border-color:darken(@color,10%) darken(@color,10%) darken(@color,20%);
	
	
	&.full{
		&:before,&:after {
			border-top-color:darken(@color,10%);
		}
	}
	
	&.left:before,&.right:before{
		border-top-color:darken(@color,10%);
	}
	&.lefttop:before{
		border-left-color:darken(@color,10%);
	}
	&.righttop:before{
		border-right-color:darken(@color,10%);
	}
}


.ribbon{

	position: relative;
	padding:@ribbon-padding;
	border-width: @ribbon-boarder-width;
	border-style: solid;
	
	&.full{
		display:block;
		margin:@ribbon-size -@ribbon-size 0 -@ribbon-size;
		.roundcorner-top(@ribbon-corner-radius);
	
		&:before,&:after {
				content: '';
				position: absolute;
				display: block;
				width:0;
				height:0;
				border-width: @ribbon-size;
				border-style: solid;
				border-color: transparent;
				z-index: -1;
			} 
		&:before {
				left: 0;
				bottom: -(@ribbon-size * 2 + @ribbon-boarder-width);
				border-right-width: 0;
			}
		&:after {
				right: 0;
				bottom: -(@ribbon-size * 2 + @ribbon-boarder-width);
				border-left-width: 0;
			}
		
	}

	
	&.left,&.lefttop,&.right,&.righttop{
		&:before{
			content: '';
			position: absolute;
			display: block;
			width:0;
			height:0;
			border-width: @ribbon-size;
			border-style: solid;
			border-color: transparent;
			z-index: -1;
		}
	}

	&.left,&.lefttop{
		float:left;
		clear:left;
		.roundcorner-top-left(@ribbon-corner-radius);
	}
	
	&.right,&.righttop{
		float:right;
		clear:right;
		.roundcorner-top-right(@ribbon-corner-radius);
	}
	
	&.right,&.left{
		margin-top: @ribbon-size ;
	}
	
	&.righttop,&.lefttop{
		margin: 0 @ribbon-size 0 @ribbon-size;
	}
	
	&.righttop{
		top: -@ribbon-size+@ribbon-boarder-width;
    	.roundcorner-bottom(@ribbon-corner-radius);
		&:before{
			top: 0;
			left:-(@ribbon-size * 2 + @ribbon-boarder-width);
		 	border-bottom-width: 0;
		}
	}	

	&.right{
		left: @ribbon-size+@ribbon-boarder-width;
    	.roundcorner-left(@ribbon-corner-radius);
		&:before{
			right: 0;
			bottom: -(@ribbon-size * 2 + @ribbon-boarder-width);
			border-left-width: 0;
		}
	}

	&.lefttop{
		top: -@ribbon-size+@ribbon-boarder-width;
    	.roundcorner-bottom(@ribbon-corner-radius);
		&:before{
				top: 0;
				right:-(@ribbon-size * 2 + @ribbon-boarder-width); 
				border-bottom-width: 0;
		}
	}
	
	&.left{
		right: @ribbon-size+@ribbon-boarder-width;
    	.roundcorner-right(@ribbon-corner-radius);
		&:before{
				left: 0;
				bottom: -(@ribbon-size * 2 + @ribbon-boarder-width);
				border-right-width: 0;
		}
	}
	
	.ribboncolor();
	
	&.black{
		.ribboncolor(@black);
	}
	 
	&.red{
		.ribboncolor(@red);
	}
	
	&.orange{
		.ribboncolor(@orange);
	}
	
	&.yellow{
		.ribboncolor(@yellow);
	}
	
	&.green{
		.ribboncolor(@green);
	}
	
	&.blue{
		.ribboncolor(@blue);
	}
	
	&.purple{
		.ribboncolor(@purple);
	}		
	&.gray{
		.ribboncolor(@gray);
	}
		
	&.pink{
		.ribboncolor(@pink);
	}	
	 
}



//.ribbon-full,.ribbon {
//	 position: relative;
// 	.vertival-gradient(lighten(@ribboncolor,20%),@ribboncolor);
//	
// 	text-align: center;
// 	padding: @ribbonsize / 2;
// 	margin:0 -@ribbonsize / 2 0 -@ribbonsize / 2;
//	.shadow(0,0,5px);
//	color: darken(@ribboncolor,15%);
//	//.textshadow( 1px, 1px, 0px, lighten(@ribboncolor,20%);
//
//}
//
//.ribbon-full:before, .ribbon-full:after {
//	 content: "";
//	 position: absolute;
//	 display: block;
//	 bottom: @ribbonsize/2 * -1;
//	 border: @ribbonsize * 0.75 solid darken(@ribboncolor,15%);
//	 z-index: -1;
//}
//
//.ribbon-full:before {
//	 left: @ribbonsize * -1;
//	 border-right-width: @ribbonsize * 0.75;
//	 border-left-color: transparent;
//}
//
//.ribbon-full:after {
//	 right: @ribbonsize * -1;
//	 border-left-width: @ribbonsize * 0.75;
//	 border-right-color: transparent;
//}
//
//.ribbon-full .ribbon-content:before, .ribbon-full .ribbon-content:after ,
//.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
//	 content: "";
//	 position: absolute;
//	 display: block;
//	 border-style: solid;
//	 border-color: darken(@ribboncolor,25%) transparent transparent transparent;
//	 bottom: @ribbonsize / 2 * -1;
//}
//
//.ribbon-full .ribbon-content:before,.ribbon .ribbon-content:before {
//	 left: 0;
//  	 border-width: @ribbonsize / 2 0 0 @ribbonsize / 2;
//}
//
//.ribbon-full .ribbon-content:after,.ribbon .ribbon-content:after {
//	 right: 0;
//	 border-width: @ribbonsize / 2 @ribbonsize / 2 0 0;
//}