

.gen-table(@color:@default){
	
	& > tbody > tr > th,& > thead{
		background-color:@color;
		.textcolor(@color);
	}
	
	& > tfoot{
		color:@color;
		background-color:lighten(@color,30%);
	}
	
	th,td{
		border-top:@border-width solid @color;
	}
	
	&.table-striped tr:nth-child(even){
		  background-color: lighten(@color,20%);
	}
	
	&.table-striped-vertical colgroup > col:nth-child(even) {
		background-color: lighten(@color,20%);
	}
	
	&.table-hover{
		tbody > tr:hover {
		  background-color: lighten(@color,30%);
		  .textcolor(lighten(@color,30%));
		}
	}
	
	&.table-borderd{
		border:@border-width solid @color;
		td{
			border:@border-width solid @color;
			
		}
	}
	
}






.table{
	
	width:100%;
	text-align:left;
	vertical-align:top;
	border-collapse: collapse;
	margin-bottom:@elementpadding;

	& > caption{
		font-weight:bold;
		text-transform:uppercase;
	}

	& > tbody{
		overflow-x: auto;	
		border-collapse: collapse;
	}
	
	th,td{
		text-align:left;
		vertical-align:top;
		padding:@padding-vertical @padding-horizontal;
	}
	

	
	.gen-table();
	
	&.table-red{
		.gen-table(@red);
	}
	&.table-orange{
		.gen-table(@orange);
	}
	
	&.table-green{
		.gen-table(@green);
	}
	
	&.table-blue{
		.gen-table(@blue);
	}

	&.table-darkblue{
		.gen-table(@darkblue);
	}
	
}

.table-respositive {
	overflow-x: auto;
	width:100%; 
	white-space:nowrap;
	margin-bottom:@elementpadding;
	& > .table{
		margin-bottom:0;
	}
}