//tipsettings
@tip-padding: 	  5px;
@tip-arrow-width:   6px;
@tip-corner-radius: 2px;
//------------------------------------

.tipcolor(@tipcolor:@black) {
  
  @color : fadeout(@tipcolor,5%);
  .textcolor(@color);  
   background-color:@color;
  
    &.bottom:before{
	  border-color: transparent transparent @color transparent;
    } 
	&.top:before{
	  border-color: @color transparent transparent transparent;
	}  
	&.left:after{
		border-color: transparent transparent transparent @color;
	}
	&.right:after{
	 	border-color: transparent @color transparent transparent;
	}	  

}


.tip{
	
  z-index:1010;

  padding:				@tip-padding;
  position:			absolute;
  text-align:			center;
  display:				block;
  font-size:@font-size;
  font-weight: bold;
  min-width:@tip-arrow-width*3;
  min-height:@tip-arrow-width*3;
  margin:@tip-arrow-width+1;
  
  .noselect();
  .shadow(2px,2px);
  .roundcorner(@tip-corner-radius);
	 
   &:before,&:after{
	  content:'';
	  height:0;
	  width:0;
	  position:absolute;
	  border-color: transparent;
	  border-style: solid;
	  border-width: @tip-arrow-width;
   } 
	 
   &:before{
     left:50%;
   }
   
   &:after{
     top:50%;
   } 


 &.bottom:before{
	  top: (@tip-arrow-width*2)*-1;
	  margin-left:@tip-arrow-width*-1;
   } 
	 
	&.top:before{
	  bottom: (@tip-arrow-width*2)*-1;
	  margin-left:@tip-arrow-width*-1;
	}  
	 
	&.left:after{
	  right: (@tip-arrow-width*2)*-1;
	  margin-top:@tip-arrow-width*-1;
	}
		 
	&.right:after{
	  left: (@tip-arrow-width*2)*-1;
	  margin-top:@tip-arrow-width*-1;
	}	  


	.tipcolor();

	&.gray{
		.tipcolor(@gray);
	}
	&.red{
		.tipcolor(@red);
	}
	&.orange{
		.tipcolor(@orange);
	}
	&.yellow{
		.tipcolor(@yellow);
	}
	&.green{
		.tipcolor(@green);
	}
	&.blue{
		.tipcolor(@blue);
	}
	&.purple{
		.tipcolor(@purple);
	}

}



