//typo
@font-size: 14px;
@line-height : 20px;
@text-color :#000000;
@body-background : #ffffff;
@shadow : rgba(0,0,0,.3);

@gray:		#E0E0E0;
@red : 		#ff5f5f; //#B0445C
@orange:	#fab662;
@yellow:	#f2de6b;
@green:		#bdda6a; //#8CB044
@blue:		#68b5fa; //#119CD6
@purple:	#cea2dc;




//statescolors
@default : #999999;
@invert : #333333;
@success : #468847;
@info : #3A87AD;
@warning : #F89406;
@error : #B94A48;



@colwith 	:70px;
@cols    	:12;
@gutter		:20px;


@iconSpritePath:"../img/glyphicons_black.png";
@iconWhiteSpritePath:"../img/glyphicons_white.png";


//tip
@tipwidth : 300px;
@tippadding: 20px;
@tipcolor: #ffffff;
@tipbordercolor : #666666;
@tipborderwith : 2px;  
@tiparrowwidth:   10px;


//ribbon's
@ribbonsize : 30px;
@ribboncolor : #FF9900;






/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}