
//general
@font-size: 14px;
@shadow : rgba(0,0,0,.8);


//statescolors
@info : #3399FF;
@warning : #FFCC66;
@success : #6C3;
@error : #FF6666;

//button
@buttoncolor : #f4f4f4;



@colwith 	:70px;
@cols    	:12;
@gutter		:20px;


@iconSpritePath:"../img/glyphicons_black.png";
@iconWhiteSpritePath:"../img/glyphicons_white.png";

@textcolor :#ffffff;



//tip
@tipwidth : 300px;
@tippadding: 20px;
@tipcolor: #ffffff;
@tipbordercolor : #666666;
@tipborderwith : 2px;  
@tiparrowwidth:   10px;


//ribbon's
@ribbonsize : 30px;
@ribboncolor : #FF9900;






/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}